/* importing fonts from Google Font API */
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Sarabun:300,300i,400,700');

html {
    background: #ffffff;
    min-width: 960px;
    min-height: 720px;
    overflow: auto;
    font-family: "Sarabun", sans-serif;
    font-weight: 300;
    color: black;
    letter-spacing: 0.1em;
}

body {
    padding: 20px;
}

body.none {
    padding: 5px;
}

h1{
    font-family: "Major Mono Display", sans-serif;
    font-size: 2em;
    color: black;
    letter-spacing: normal;
    text-transform: lowercase;
    margin-bottom: 0;
    padding-bottom: 0;
}

div#div_visuals {
    background-clip: content-box;
    width: 100%;
    height: auto;
    min-height: auto;
    box-sizing: border-box;
    padding: 10px;
}

div#div_visuals.var1 {
    padding: 0;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 60px;
    padding: 2px;
    font: 12px sans-serif;
    color: white;
    border: 0px;
    padding-top: 5px;
    border-radius: 4px;
    pointer-events: none;
	background: #888;
}

div.tooltip .title{
	font-size: 14px;
	font-weight: bold;
}